<section id="banner">
  <!-- Slider main container -->
  <div class="swiper-container startpage-slider">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      {% for slide in site.slides limit:5 %}
      <!-- Slides -->
      <div
        class=" startpage-header  swiper-slide"
        style="background-image: url('{{ slide.image }}');"
      >
        <div class="container pure-g">
          <div class="pure-u-1 pure-u-md-1">
            <div class="call-to-action">
              <h1>{{ slide.heading }}</h1>
              <ul style="padding-inline-start:0;">
                <li>
       
                  <h2>{{ slide.t1 }}</h2>
                </li>
                <li>
               
                  <h2>{{ slide.t2 }}</h2>
                </li>

              
              </ul>
              <p class="lead text-shadow-default"></p>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="swiper-slide">
        <img src="photos/banner-ferrari.jpeg" alt="" />
      </div>
      <div class="swiper-slide">
        <img src="photos/banner-whats.jpeg" alt="" />
      </div>-->
      {% endfor %}
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <!-- <div id="navigation_buttons">
      <div class="swiper-button-prev swiper-left"></div>
      <div class="swiper-button-next swiper-right"></div>
      -->
    </div>
  </div>
</section>
