





<section class="text-center overflow-hidden py-0" id="top" data-zanim-timeline="{}">
        <div class="bg-holder overlay parallax" background-position: 30% 56%; transform: translate3d(0px, 0px, 0px);">
          
 <video autoplay="autoplay" loop="loop" muted="muted"><source src="assets/videos/first.mp4" type="video/mp4">


        </div>
        <!--/.bg-holder-->

 
        <div class="header-overlay" style="background-color: rgba(0, 0, 0, 0);"></div>
        <div class="container">
          <div class="d-flex flex-center pb-8" style="padding-top: 200px;">
            <div class="header-text" style="opacity: 1;">
              <div class="overflow-hidden">
                <h1 class="display-3 text-white fs-5 fs-md-7" data-zanim-xs="{&quot;duration&quot;:2,&quot;delay&quot;:0}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">Bem vindo a NETJAPA</h1>
              </div>
              <div class="overflow-hidden">
                <p class="text-uppercase text-400 ls-2 mt-2" data-zanim-xs="{&quot;duration&quot;:2,&quot;delay&quot;:0.1}" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><br class="d-block d-md-none"> Ligue (24) 99301-7256</p>
              </div>
            </div>
          </div>
        </div>
      </section>


<!-- <section id="banner">

  <div class="swiper-container startpage-slider">

    <div class="swiper-wrapper">
      {% for slide in site.slides limit:5 %}
    
      <div
        class=" startpage-header  swiper-slide"
        style="background-image: url('{{ slide.image }}');"
      >
   
      </div>
   
      {% endfor %}
    </div>

    <div class="swiper-pagination"></div>

  
    <div id="navigation_buttons">
      <div class="swiper-button-prev swiper-left"></div>
      <div class="swiper-button-next swiper-right"></div>
     
    </div>
  </div>
</section>
 -->
