{% if site.data.information %} {% assign info = site.data.information %}
<h1 class="margin-0">Dúvidas?</h1>
<section class="flexcontainer">
  <div class="contact-div ">
    <p>Entre em contato!</p>

    <p>Pelos telefones</p>

    <p>{{ info.phone }}</p>
    <p>{{ info.phone2 }}</p>
  </div>

  <div class="contact-div ">
    <form id="contact-form" name="contact" netlify>
      <label class="float-left" for="input-prename">Nome</label>
      <input
        name="name"
        type="text"
        required="required"
        class="form-control"
        id="input-prename"
        name="input-prename"
        value=""
      />

      <label class="float-left" for="input-mail">Email</label>
      <input
        type="email"
        required="required"
        class="form-control"
        id="input-mail"
        name="input-mail"
        value=""
        name="email"
      />

      <label class="float-left" for="input-message">Mensagem</label>
      <textarea
        class="form-control support-message"
        required="required"
        rows="7"
        name="message"
        id="input-message"
        name="input-message"
      ></textarea>

      <input
        type="submit"
        value="Enviar"
        id="btn-submit"
        class="btn btn-yellow btn-md"
      />
    </form>
  </div>
</section>
{% endif %}
