


{% if site.data.information %} {% assign info =
site.data.information %}

<section class="pb-5 pt-0 mt-5">
    <div class="container-fluid p-0 pb-3">
        <iframe class="map" src="https://maps.google.com/maps?q=Av%20Roberto%20Silveira%2095%20-%20Ch%C3%A1cara%20da%20Saudade&t=&z=15&ie=UTF8&iwloc=&output=embed" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
    <div class="container">
        <div class="row text-center justify-content-center pt-5">
            <div class="col-12 col-md-7">
                <h1>ENTRE EM CONTATO</h1>
            </div>
        </div>

        <div class="row justify-content-center pt-4">
            <div class="col-12 col-md-7">
                <form      
                     class="pure-form pure-form-stacked"
                
                     action="https://formspree.io/mbjzjqnp"
                    method="POST"
                     name="contato">
                    <div class="row">
                        <div class="col">
                            <input type="text" name="name" class="form-control" placeholder="Nome">
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <input type="text" class="form-control"  placeholder="Telefone ou Email">
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <textarea class="form-control" rows="7" name="message" rows="3" placeholder="Como podemos te ajudar?"></textarea>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-danger">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row-100"></div>
    </div>



</section>


{% endif %}


