{% if site.data.information %} {% assign info = site.data.information %}

<section id="header-section">
  <div
    class="header-background-image"
    style="background-image: url('{{ info.image}}');"
  >
    <div class="container">
      <div class="row row-flex-center-md">
        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
          <div class="color-white text-shadow-default">
            <ul class="list-unstyled list-big-headlines">
              <li>
                <h1>CONTACTO</h1>
              </li>
              <li>DUVIDAS?</li>
              <li>ESTAMOS AQUI PRA AJUDA-LO(A)</li>
            </ul>
            <p style="line-height: 1.4em;">
              Será um prazer esclarecer suas duvidas.<br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="background-color-grey">
  <div class="inner-content-top-out-bottom-out">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
          <div class="container-support-form">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="container-support-header">
                  <h3>Contato</h3>
                </div>
              </div>
            </div>
            <hr class="hr-grey" />
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="container-support-content">
                  <form id="contact-form" name="contact" netlify>
                    <div
                      id="nextcloud-notice"
                      class="info-support-container hidden"
                    >
                      <div class="icon-container">
                        <i class="fa fa-info-circle"></i>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="float-left" for="input-prename">Nome</label>
                      <input
                        type="text"
                        required="required"
                        class="form-control"
                        id="input-prename"
                        value=""
                        name="name"
                      />
                    </div>
                    <div class="form-group">
                      <label class="float-left" for="input-mail">Email</label>
                      <input
                        type="email"
                        required="required"
                        class="form-control"
                        id="input-mail"
                        name="email"
                        value=""
                      />
                    </div>
                    <div class="form-group support-form-padding-top">
                      <label class="float-left" for="input-message"
                        >Mensagem</label
                      >
                      <textarea
                        class="form-control support-message"
                        required="required"
                        rows="7"
                        id="input-message"
                        name="message"
                      ></textarea>
                    </div>
                    <input
                      type="submit"
                      value="Enviar"
                      id="btn-submit"
                      class="btn btn-yellow btn-md"
                    />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
          <div class="support-form-sidebar">
            <div class="support-form-sidebar-content">
              <h4>Telefone</h4>
              <p>
                Deseja falar diretamente? Teremos o maior prazer em atender sua
                ligação. Você pode nos contatar pelo número abaixo:
              </p>
              <p class="support-sidebar-phone-number">
                <i class="fa fa-phone"></i><a href="#">{{ info.phone }}</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
