


{% if site.data.information %} {% assign info =
site.data.information %}

<section class="pb-5 pt-0 mt-5">
    <div class="container-fluid p-0 pb-3">
        <iframe class="map" src="https://maps.google.com/maps?q=Av%20Roberto%20Silveira%2095%20-%20Ch%C3%A1cara%20da%20Saudade&t=&z=15&ie=UTF8&iwloc=&output=embed" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    </div>
    <div class="container">
        <div class="row text-center justify-content-center pt-5">
            <div class="col-12 col-md-7">
                <h1>ENTRE EM CONTATO</h1>
            </div>
        </div>

        <div class="row justify-content-center pt-4">
            <div class="col-12 col-md-7">
                <form      
                     class="pure-form pure-form-stacked"
                
                     action="https://formspree.io/mbjzjqnp"
                    method="POST"
                     name="contato">
                    <div class="row">
                        <div class="col">
                            <input type="text" name="name" class="form-control" placeholder="Nome">
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <input type="text" class="form-control"  placeholder="Telefone ou Email">
                        </div>
                    </div>

                    <div class="row mt-4">
                        <div class="col">
                            <textarea class="form-control" rows="7" name="message" rows="3" placeholder="Como podemos te ajudar?"></textarea>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row-100"></div>
    </div>
    <div class="bg-dark mt-5 pt-5 pb-5 text-light">
        <div class="container">
            <div class="row-50"></div>


 {% if site.data.information %} {% assign info =
site.data.information %}
            <div class="row justify-content-center text-center">
                <div class="col-12 col-md mr-auto ml-auto">
                   <i class="fa fa-phone fa-2x"></i>

                    <p class="text-h3">  {{ info.phone }}</p>
                </div>

                <div class="col-12 col-md pt-4 pt-md-0 mr-auto ml-auto">
                 <i class="fa fa-map-marker fa-2x"></i>
                    <p class="text-h3">{{info.address}}.
                        <br>{{info.address2}}</p>
                </div>

                <div class="col-12 col-md pt-4 pt-md-0 mr-auto ml-auto">
                <i class="fa fa-envelope fa-2x"></i>
                    <p class="text-h3">{{info.email}}</p>
                </div>
            </div>
            {% endif %} 
            <div class="row-50"></div>
        </div>
    </div>

    <div class="container">
         <div class="row text-center justify-content-center pt-5">
            <div class="col-12 col-md-7">
                <h1>COMPARTILHE E GANHE 15% DE DESCONTO</h1>
            </div>
        </div>

        <div class="row-70"></div>
        <div class="row text-center">
            <div class="col">
                <p class="text-h2 mt-4">
                    <a class="mr-3" href="https://www.facebook.com/share.php?u={{url}}&title={{title}}"><i style="color:red" class="fa fa-facebook fa-2x"></i></a><a class="mr-3" href="https://api.whatsapp.com/send?phone=+5524993017256"><i style="color:red" class="fa fa-whatsapp fa-2x"></i></a><a class="mr-3" href="https://www.instagram.com/d.calixto84/"><i style="color:red" class="fa fa-instagram fa-2x"></i></a>
                </p>
            </div>
        </div>
    </div>
</section>


{% endif %}


