







<section class="ftco-section">
    <div class="container">
<div class="row justify-content-center pb-4">
<div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated">


<h2 class="mb-4"><span class="red"> ENTRE EM CONTATO</span></h2>
</div>
</div>







<div class="row mt-md-5">
                <div class="col-md-7 main-desktop">
                    <iframe src="https://www.google.com/maps/embed/v1/place?q=netjapa&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>                </div>
                <div class="col-md-5 mt-5">
                    <div class="row">
                        <div class="col-md-12 d-flex">
                           
                        
                            <img src="/assets/img/placeholder.png" style="height: 40px; margin-right: 20px;">
                            <div class="">
                                <h3 class="title-component-18 color-component-primary font-weight-600">Endereço</h3>
                                <p class="text-component" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
                                    <span itemprop="streetAddress">Av. Roberto Silveira, 1041B</span>,
                                    <span itemprop="addressLocality">Paraty, RJ</span> - 
                                  
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5 mt-md-4">
                        <div class="col-md-12 d-flex">
                            <img src="/assets/img/telephone.png" style="height: max-content; margin-right: 20px;">
                            <div class="">
                                <h3 class="title-component-18 color-component-primary font-weight-600">Contato</h3>

                                
                                <p class="text-component" itemprop="telephone" content="+5524993017256">(24)99301-7256</p>
                                <p class="text-component" itemprop="email"></p>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-5 mt-md-4">
                        <div class="col-md-12 d-flex">
                            <img src="/assets/img/back-in-time.png" style="height: max-content; margin-right: 20px;">
                            <div class="">
                                <h3 class="title-component-18 color-component-primary font-weight-600">Horário de funcionamento</h3>
                                                <p class="text-component" itemprop="openingHours" content="Seg, Ter, Qua, Qui, Sex 8:00-21:30">
                    Segunda-Sexta 10am-03:30am                </p>
                            <p class="text-component" itemprop="openingHours" content="Sáb 8:00-12:00">
                    Sábado 10am-12pm                </p>
                                        </div>
                        </div>
                    </div>

                    <div class="row mt-5 mt-md-5">
                        <div class="col-md-12">
                        
                            <p class="link-component link-component-primary mt-md-3 mt-5">
                                <a class="color-component-primary " target="_self" href="">
                                                                    </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

</div>
</section>








