<section class="pt-5 pb-5  mt-5" style="">
        <div class="container  mt-5">
          <h1>Detalhes</h1>
          <div class="row">
            <div class="col">
              <table class="table-responsive table-borderless"  style="min-width:100%">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col" class="bg-danger text-white p-2 p-lg-3 border">Site</th>
                    <th scope="col" class="bg-danger text-white p-2 p-lg-3 border">Micro Aplicativo</th>
                    <th scope="col" class="bg-danger text-white p-2 p-lg-3 border">Loja</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  >
                    <th scope="row" style="min-width:225px;" class="pr-lg-3">Hospedagem Gratuita</th>
                    <td class="bg-white p-2 p-lg-3 border"  style="min-width:225px;" >  <i class="fa fa-check text-success  fa-2x"></i>
                       </td>
                    <td class="bg-white p-2 p-lg-3 border"  style="min-width:225px;">  <i class="fa fa-times text-danger fa-2x"></i> </td>
                    <td class="bg-white p-2 p-lg-3 border"  style="min-width:225px;"> <i class="fa fa-times text-danger fa-2x"></i>  </td>
                  </tr>
                  <tr>
                    <th scope="row" style="min-width:225px;" class="pr-lg-3">1 Mês de manuntenção</th>
                    <td class="bg-white p-2 p-lg-3 border" > <i class="fa fa-check text-success  fa-2x"></i></td>
                    <td class="bg-white p-2 p-lg-3 border"> <i class="fa fa-check text-success  fa-2x"></i> </td>
                    <td class="bg-white p-2 p-lg-3 border"> <i class="fa fa-check text-success  fa-2x"></i> </td>
                  </tr>
                  <tr>
                    <th scope="row" style="min-width:225px;" class="pr-lg-3">Autenticação</th>
                    <td class="bg-white p-2 p-lg-3 border"> <i class="fa fa-times text-danger  fa-2x"></i></td>
                    <td class="bg-white p-2 p-lg-3 border"> <i class="fa fa-check text-success  fa-2x"></i> </td>
                    <td class="bg-white p-2 p-lg-3 border"> <i class="fa fa-check text-success  fa-2x"></i> </td>
                  </tr>
                  <tr>
                    <th scope="row" style="min-width:225px;" class="pr-lg-3">Painel Admninistrativo </th>
                    <td class="bg-white p-2 p-lg-3 border"> <i class="fa fa-times text-danger  fa-2x"></i></td>
                    <td class="bg-white p-2 p-lg-3 border"> <i class="fa fa-check text-success  fa-2x"></i> </td>
                    <td class="bg-white p-2 p-lg-3 border"> <i class="fa fa-check text-success  fa-2x"></i> </td>
                  </tr>
                  <tr>
                    <th scope="row" style="min-width:225px;" class="pr-lg-3">Banco de dados </th>
                  <td class="bg-white p-2 p-lg-3 border"> <i class="fa fa-times text-danger  fa-2x"></i></td>
                    <td class="bg-white p-2 p-lg-3 border"> <i class="fa fa-check text-success  fa-2x"></i> </td>
                    <td class="bg-white p-2 p-lg-3 border"> <i class="fa fa-check text-success  fa-2x"></i> </td>
                  </tr>
                  <tr>
                    <th scope="row" style="min-width:225px;" class="pr-lg-3">Sistema de pagamento</th>
                 <td class="bg-white p-2 p-lg-3 border"> <i class="fa fa-times text-danger  fa-2x"></i></td>
                     <td class="bg-white p-2 p-lg-3 border"> <i class="fa fa-times text-danger  fa-2x"></i></td>
                    <td class="bg-white p-2 p-lg-3 border"> <i class="fa fa-check text-success  fa-2x"></i> </td>
                  </tr>
            
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>