<!-- start footer section -->
<footer class="site-footer ">
  {% if site.data.information %} {% assign info = site.data.information %}
  <div class="contact-layout">
    <div class="container pure-g ">
      <div class="footer-col pure-u-1 pure-u-md-1-4">
        <ul>
          <li>
            <i class="fa fa-phone"></i>
            <a href="tel:(24)993017256"> {{info.phone}}</a>
          </li>

          <li>
            <i class="fa fa-envelope"></i>
            <a href="#">{{info.email}}</a>
          </li>

          <li>
            <p class="text-center">
              <small>© 2020. NETJAPA</small>
            </p>
          </li>
        </ul>
      </div>

      {% endif %}

      <div class="footer-col pure-u-1 pure-u-md-1-4">
        {% if site.data.information %} {% assign info = site.data.information %}
        <ul class="list-unstyled">
          <li class="social-icons">
            <a href="https://www.facebook.com/Netjapa-114192137077152" target="_blank">
              <i class="fa fa-facebook-square fa-2x fa-fh"></i>
            </a>

            <a href="https://www.instagram.com/netjapa" target="_blank">
              <i class="fa fa-instagram fa-2x"></i>
            </a>
            <a href="https://www.youtube.com/netjapa" target="_blank">
              <i class="fa fa-youtube-play fa-2x"></i>
            </a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
  </div>

  <a href="https://api.whatsapp.com/send?phone=5524993017256" class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
</footer>
<!-- end footer section -->

<!-- end footer section -->
