<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta
    name="keywords"
    content="Netjapa, netjapa.com, Criação de sites,  Desenvolvimento de sites. apps,
  mobile apps, aplicativos para celular,
  aplicativos android, site, app, aplicativo, e-commerce, loja virtual"
  />
  <meta property="og:image" content="{{ site.url }}/photos/montage.jpg" />
  <meta charset="utf-8" />
  <title>
    {% if page.section == "home" %}{{ site.title }}{% else %}{{ page.title |
    default: site.title }}{% endif %}
  </title>
  <link
    rel="stylesheet"
    href="https://yui-s.yahooapis.com/pure/0.6.0/pure-min.css"
  />

  <link
    rel="stylesheet"
    href="https://yui-s.yahooapis.com/pure/0.6.0/grids-responsive-min.css"
  />
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/swiper.css" | relative_url }}">
  <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
  />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-164237387-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-164237387-1");
  </script>
  <!-- 
   MADE BY NETJAPA
  -->
</head>
