<!-- start Mobile Nav section -->

<!-- end of Mobile Nav section -->

<header class="site-header"  style="background-color: #e3262e;">
  <div class="container ">
      <div
      class="ui pointing menu stackable "
      role="navigation"
      aria-label="Main menu"
    >
    <h1 class="logo ">
        <a href="{{ "/" | relative_url }}">
        
        </a>
      </h1>
 


   <div class="right menu navigation">
    {% include navigation.html navigation=site.data.navigation %} 
 
  </div>
  <div class="hamburger">
    <span class="hamburger-bun"></span>
    <span class="hamburger-patty"></span>
    <span class="hamburger-bun"></span>
  </div>

  </div>
    </div>

  
</header>


<!-- end of Header section -->
