<!-- start Mobile Nav section -->

<!-- end of Mobile Nav section -->

<header class="site-header"  style="background-color: #e3262e;">
  <div class="container ">
      <div
      class="ui pointing menu stackable "
      role="navigation"
      aria-label="Main menu"
    >
    <h1 class="logo ">
        <a href="{{ "/" | relative_url }}">
        
        </a>
      </h1>
 
 
     <!--</nav>-->
     <!--<nav id="lang-sel" >
     <ul class="lang">
      {% capture link1 %}{{ site.baseurl_root }}{{ page.url}}{% endcapture %}
    {% capture link2 %}{{ site.baseurl_root }}/en{{ page.url}}{% endcapture %}
      {% if site.lang == "pt-br" %}
      <li class="masthead_menu-item visible-links">
       <a href="{{ link1 }}" class="enabled">{% t global.portuguese%} </a>|<a href="{{ link2 }}"> {% t global.english%}</a>
    </li>
    {% elsif site.lang == "en" %}
    <li class="masthead_menu-item lang">
       <a href="{{ link1 }}">{% t global.portuguese%} </a>|<a href="{{ link2 }}" class="enabled"> {% t global.english%}</a>
    </li>
    {% endif %}
    </ul>
   </nav>-->
  </div>
    </div>

  
</header>


<!-- end of Header section -->
