<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta property="og:image" content="{{ site.url }}/photos/netjapa.jpeg" />
  <meta charset="utf-8" />
  <title>
    {% if page.section == "home" %}{{ site.title }}{% else %}{{ page.title |
    default: site.title }}{% endif %}
  </title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <script type="text/javascript">
    function hasClass(e, t) {
      return e.className.match(new RegExp("(\\s|^)" + t + "(\\s|$)"));
    }
    var el = document.documentElement;
    var cl = "no-js";
    if (hasClass(el, cl)) {
      var reg = new RegExp("(\\s|^)" + cl + "(\\s|$)");
      el.className = el.className.replace(reg, " js");
    }
  </script>
  <!-- 
   MADE BY NETJAPA
  -->
</head>
