
<section class="pt-5 pb-5">
  <div class="container">
    <div class="row justify-content-center pb-4">
<div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated">

<h2 class="mb-4"><span class="red"> TRABALHOS</span></h2>
</div>
</div>



  
    <div class="row mb-md-2">
         {% for post in site.posts %}
        <div class="col-md-6 col-lg-4">
            <div class="card border-0 mb-4">
               

                       <a class="position-relative mx-auto" href="{{ post.site }}">
                    <img src="{{ post.post-images[0] }}" class="card-img-top mx-auto" alt="image" />
                  </a>
                <div class="card-body">
                 

 <a href="{{ post.site }}" class="mx-auto">
                 <h5 class="font-weight-normal ">
                  {{ post.title }}
                </h5></a >
             
                       <div>{{post.body}}</div>

                 
                    <div class="d-flex my-4">

                    







                      </div>
                
                </div>
            </div>
        </div>


        {% endfor %}
        
</div>
</div>
</section>



