




      <div class="container mb-5 mt-5">
            <div class="pricing card-deck flex-column flex-md-row mb-3">
                <div class="card card-pricing text-center px-3 mb-4">
                    <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Site</span>
                    <div class="bg-transparent card-header pt-4 border-0">
                        <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="15">R$<span class="price">300</span></h1>
                    </div>
                    <div class="card-body pt-0">
                        <ul class="list-unstyled mb-4">
                            <li>Hospedagem Gratuita</li>
                            <li>1 Mês de manuntenção </li>
                            <li>Paginas Ilimitadas</li>
                           
                        </ul>
                     
                            <a href="https://api.whatsapp.com/send?phone=5524993017256" target="_blank" class="btn btn-outline-secondary mb-3">Compre agora</a>
                    </div>
                </div>
                <div class="card card-pricing popular shadow text-center px-3 mb-4">
                    <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Micro Aplicativo</span>
                    <div class="bg-transparent card-header pt-4 border-0">
                        <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="30">R$<span class="price">650</span></h1>
                    </div>
                    <div class="card-body pt-0">
                        <ul class="list-unstyled mb-4">
                            <li>Banco de dados</li>
                            <li>Autenticação</li>


                            <li>Painel Admninistrativo</li>
                  
                        </ul>
                        <a href="https://api.whatsapp.com/send?phone=5524993017256" target="_blank" class="btn btn-primary mb-3">Compre agora</a>
                    </div>
                </div>
                <div class="card card-pricing text-center px-3 mb-4">
                    <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Divulgação


                    </span>
                    <div class="bg-transparent card-header pt-4 border-0">
                        <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="45">R$<span class="price">50</span><span class="h6 text-muted ml-2">/ por mês</span></h1>
                    </div>
                    <div class="card-body pt-0">
                        <ul class="list-unstyled mb-4">
                            <li>Postagem semanal</li>
                            <li>Facebook</li>
                            <li>Olx</li>
                            <li>Instagram</li>
                        </ul>
                           <a href="https://api.whatsapp.com/send?phone=5524993017256" target="_blank" class="btn btn-outline-secondary mb-3">Compre agora</a>
                    </div>
                </div>
                <div class="card card-pricing text-center px-3 mb-4">
                    <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Loja</span>
                    <div class="bg-transparent card-header pt-4 border-0">
                        <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="60">R$<span class="price">980</span></h1>
                    </div>
                    <div class="card-body pt-0">
                        <ul class="list-unstyled mb-4">
                            <li>Bando de dados</li>
                            <li>Catalogo de produtos</li>
                            <li>Sistema de pagamento e autenticação</li>
                            <li>Carrinho e Check-out</li>
                        </ul>
                          <a href="https://api.whatsapp.com/send?phone=5524993017256" target="_blank" class="btn btn-outline-secondary mb-3">Compre agora</a>
                    </div>
                </div>
            </div>
        </div>







