      <div class="container mb-5 mt-5">
      <div class=" m-auto text-center pricing card-deck flex-column flex-md-row mb-3">
        
        <div class="princing-item red  text-center px-3 mb-4">
          <div class="pricing-divider ">
              <h3 class="text-light">Site</h3>
            <h4 class="my-0 display-4 text-light font-weight-normal mb-3"><span class="h3">R$</span> 300 <span class="h5"></span></h4>
             <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
          <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
    c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
          <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
    c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
          <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
    H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
          <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
    c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
        </svg>
          </div>
          <div class="card-body bg-white mt-0 shadow">
            <ul class="list-unstyled mb-5 position-relative">
              <li><b>1 </b>Hospedagem Gratuita</li>
              <li><b>1 Mês</b> de manuntenção</li>
              <li><b>Paginas </b> Ilimitadas</li>
                <li><a href="/detalhes" class="">Veja mais.. </a>
</li>
            </ul>
              



    <a href="https://api.whatsapp.com/send?phone=5524993017256" target="_blank" class="btn btn-lg btn-block  btn-custom ">Compre agora</a>
          </div>
        </div>
       

        
        
     
              
        
        
         
        <div class=" princing-item green  text-center px-3 mb-4">
          <div class="pricing-divider ">
              <h3 class="text-light">Micro Aplicativo</h3>
            <h4 class="my-0 display-4 text-light font-weight-normal mb-3"><span class="h3">R$</span> 650 <span class="h5"></span></h4>
             <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
          <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
    c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
          <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
    c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
          <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
    H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
          <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
    c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
        </svg>
          </div>

          <div class="card-body bg-white mt-0 shadow">
            <ul class="list-unstyled mb-5 position-relative">
              <li><b>1</b> Banco de dados</li>
              <li><b>1</b> Autenticação</li>
              <li><b>1</b> Painel Admninistrativo</li>
           <li><a href="/detalhes" class="">Veja mais.. </a>
            
            </ul>
      <a href="https://api.whatsapp.com/send?phone=5524993017256" target="_blank" class="btn btn-lg btn-block  btn-custom ">Compre agora</a>
          </div>
        </div>
               
        
           <!--       
           <div class="princing-item bluepricing text-center px-3 mb-4">
          <div class="pricing-divider ">
              <h3 class="text-light">Divulgação</h3>
            <h4 class="my-0 display-4 text-light font-weight-normal mb-3"><span class="h3">R$</span> 50 <span class="h5">/por Mês</span></h4>
             <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
          <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
    c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
          <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
    c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
          <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
    H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
          <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
    c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
        </svg>
          </div>

     
  

          <div class="card-body bg-white mt-0 shadow">
            <ul class="list-unstyled mb-5 position-relative">
              <li><b>1 </b>Postagem semanal</li>
              <li><b>1</b> Banner Facebook</li>
              <li><b>1</b>Banner  Olx</li>
                <li><b>1</b>Banner Instagram</li>
            
            </ul>
              <a href="https://api.whatsapp.com/send?phone=5524993017256" target="_blank" class="btn btn-lg btn-block  btn-custom ">Compre agora</a>
  
          </div>
        </div>
               
        
        -->








             
           <div class="princing-item bluepricing text-center px-3 mb-4">
          <div class="pricing-divider ">
              <h3 class="text-light">Loja</h3>
            <h4 class="my-0 display-4 text-light font-weight-normal mb-3"><span class="h3">R$</span>980 <span class="h5"></span></h4>
             <svg class='pricing-divider-img' enable-background='new 0 0 300 100' height='100px' id='Layer_1' preserveAspectRatio='none' version='1.1' viewBox='0 0 300 100' width='300px' x='0px' xml:space='preserve' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' y='0px'>
          <path class='deco-layer deco-layer--1' d='M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
    c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z' fill='#FFFFFF' opacity='0.6'></path>
          <path class='deco-layer deco-layer--2' d='M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
    c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z' fill='#FFFFFF' opacity='0.6'></path>
          <path class='deco-layer deco-layer--3' d='M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
    H42.401L43.415,98.342z' fill='#FFFFFF' opacity='0.7'></path>
          <path class='deco-layer deco-layer--4' d='M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
    c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z' fill='#FFFFFF'></path>
        </svg>
          </div>

     
  

          <div class="card-body bg-white mt-0 shadow">
            <ul class="list-unstyled mb-5 position-relative">
              <li><b>1</b> Banco de dados</li>
              <li><b>1</b> Catálogo de produtos</li>
              <li><b>1</b> Sistema de pagamento</li>
              <li><a href="/detalhes" class="">Veja mais.. </a>

  
            </ul>

                   
            </ul>
              <a href="https://api.whatsapp.com/send?phone=5524993017256" target="_blank" class="btn btn-lg btn-block  btn-custom ">Compre agora</a>
  
          </div>
        </div>






        
      </div>
    </div>
   </div>














           <!--       

      <div class="container mb-5 mt-5">
            <div class="pricing card-deck flex-column flex-md-row mb-3">
                <div class="card card-pricing text-center px-3 mb-4">
                    <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Site</span>
                    <div class="bg-transparent card-header pt-4 border-0">
                        <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="15">R$<span class="price">300</span></h1>
                    </div>
                    <div class="card-body pt-0">
                        <ul class="list-unstyled mb-4">
                            <li>Hospedagem Gratuita</li>
                            <li>1 Mês de manuntenção </li>
                            <li>Paginas Ilimitadas</li>
                           
                        </ul>
                     
                            <a href="https://api.whatsapp.com/send?phone=5524993017256" target="_blank" class="btn btn-outline-secondary mb-3">Compre agora</a>
                    </div>
                </div>
                <div class="card card-pricing popular shadow text-center px-3 mb-4">
                    <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Micro Aplicativo</span>
                    <div class="bg-transparent card-header pt-4 border-0">
                        <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="30">R$<span class="price">650</span></h1>
                    </div>
                    <div class="card-body pt-0">
                        <ul class="list-unstyled mb-4">
                            <li>Banco de dados</li>
                            <li>Autenticação</li>


                            <li>Painel Admninistrativo</li>
                  
                        </ul>
                        <a href="https://api.whatsapp.com/send?phone=5524993017256" target="_blank" class="btn btn-primary mb-3">Compre agora</a>
                    </div>
                </div>
                <div class="card card-pricing text-center px-3 mb-4">
                    <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Divulgação


                    </span>
                    <div class="bg-transparent card-header pt-4 border-0">
                        <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="45">R$<span class="price">50</span><span class="h6 text-muted ml-2">/ por mês</span></h1>
                    </div>
                    <div class="card-body pt-0">
                        <ul class="list-unstyled mb-4">
                            <li>Postagem semanal</li>
                            <li>Facebook</li>
                            <li>Olx</li>
                            <li>Instagram</li>
                        </ul>
                           <a href="https://api.whatsapp.com/send?phone=5524993017256" target="_blank" class="btn btn-outline-secondary mb-3">Compre agora</a>
                    </div>
                </div>
                <div class="card card-pricing text-center px-3 mb-4">
                    <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">Loja</span>
                    <div class="bg-transparent card-header pt-4 border-0">
                        <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="60">R$<span class="price">980</span></h1>
                    </div>
                    <div class="card-body pt-0">
                        <ul class="list-unstyled mb-4">
                            <li>Bando de dados</li>
                            <li>Catalogo de produtos</li>
                            <li>Sistema de pagamento e autenticação</li>
                            <li>Carrinho e Check-out</li>
                        </ul>
                          <a href="https://api.whatsapp.com/send?phone=5524993017256" target="_blank" class="btn btn-outline-secondary mb-3">Compre agora</a>
                    </div>
                </div>
            </div>
        </div>




        -->



