<div id="principais-servicos">
    <div class="row">
        <div class="col-lg-4 col-12 col-servico col-sites mx-auto" style="background:url('/photos/website.png') left bottom no-repeat,#61b971">
            <div class="texto">
                <h1>Criação de Sites</h1>
                <p>Sites profissionais, personalizados e responsivos de alta performance e otimizados para o Google! </p>
                <a href="https://wa.me/5524993017256/?text=Olá, visitei o netjapa e gostaria de saber mais sobre a criação de sites" class="saiba-mais">Saiba mais</a>
            </div>

        </div>
        <div class="col-lg-4 col-12 col-servico col-marketing" style="background:url('/photos/mobile.png') left bottom no-repeat,#ff9966">
            <div class="texto">
                <h1>Aplicativos</h1>
                <p>Aumente a agilidade do seu negócio na internet administre seus produtos e servicos online.</p>
                <a href="https://wa.me/5524993017256/?text=Olá, visitei o netjapa e gostaria de saber mais sobre a criação de aplicativos" class="saiba-mais">Saiba mais</a>
            </div>

        </div>
        <div class="col-lg-4 col-12 col-servico col-anuncio" style="background:url('/photos/shop.png') left bottom no-repeat,#5886c6">
            <div class="texto">
                <h1>E-commerce</h1>
                <p>A sua empresa na primeira página do Google. Aumente suas vendas e o crescimento do seu negócio!</p>
                <a href="https://wa.me/5524993017256/?text=Olá, visitei o netjapa e gostaria de saber mais sobre a criação de loja virtual" class="saiba-mais">Saiba mais</a>
            </div>

        </div>
    </div>
</div>

