<!-- Bootstrap core JavaScript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->

 <script src="https://prium.github.io/reign-IV/assets/js/popper.min.js"></script>
<script src="https://prium.github.io/reign-IV/assets/js/bootstrap.js"></script>
<script src="https://prium.github.io/reign-IV/assets/js/plugins.js"></script>

<script src="https://prium.github.io/reign-IV/assets/js/stickyfill.min.js"></script>
<script src="https://prium.github.io/reign-IV/assets/js/rellax.min.js"></script>
<script src="https://prium.github.io/reign-IV/assets/js/theme.js"></script>

<!-- Custom JS for background color on scrolling -->

{% if page.url == "/" %} 
       <script>
    $(window).scroll(function(){
    var scroll = $(window).scrollTop();
    if(scroll < 300){
        $('.fixed-top').css('background', 'transparent');
    } else{
        $('.fixed-top').css('background', '#e3262e');
    }
});
</script>
 {% else %}
       <script>
$('.fixed-top').css('background', '#e3262e');
</script>



        {% endif %}


<!--
<script src="{{ site.baseurl }}/assets/js/apollo.js"></script>

<script src="{{ site.baseurl }}/assets/js/hamburger.js"></script>
<script src="{{ site.baseurl }}/assets/js/swiper.min.js"></script>

<script type="text/javascript">
  var mySwiper = new Swiper(".swiper-container", {
    // Optional parameters
    direction: "horizontal",
    loop: true,

    // If we need pagination
    pagination: {
      el: ".mdn-Swiper-pagination",
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },

    autoplay: {
      delay: 5000,
    },
  });
</script>

   MADE BY NETJAPA
  -->
