<!-- Bootstrap core JavaScript -->
   <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/assets/js/core.js"></script>



<!-- Custom JS for background color on scrolling -->

{% if page.url == "/" %} 
       <script>
    $(window).scroll(function(){
    var scroll = $(window).scrollTop();
    if(scroll < 300){
        $('.fixed-top').css('background', 'transparent');
    } else{
        $('.fixed-top').css('background', '#e3262e');
    }
});
</script>
 {% else %}
       <script>
$('.fixed-top').css('background', '#e3262e');
</script>



        {% endif %}


