<!-- Bootstrap core JavaScript -->
<script src="{{ site.baseurl }}/assets/js/apollo.js"></script>
<script src="{{ site.baseurl }}/assets/js/vanilla.js.responsive.menu.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>
<script type="text/javascript">
  responsivemenu.init({
    wrapper: document.querySelector(".navigation_container1"),
    //togglecontent: "menu",
    togglecontent: '<span class="toggle-text">menu</span>',

    sticky: 0
    //      animateduration: 1000,
    //      subanimateduration: 1000,
  });

  //    responsivemenu.init({
  //        wrapper: document.querySelector('.navigation_container2'),
  //        onAfterInit: function() {
  //            console.log('after init 2');
  //        }
  //    });
</script>
<script type="text/javascript">
  var mySwiper = new Swiper(".swiper-container", {
    // Optional parameters
    direction: "horizontal",
    loop: true,

    // If we need pagination
    pagination: {
      el: ".swiper-pagination"
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev"
    }
  });
</script>
<!-- 
   MADE BY NETJAPA
  -->
