<section class="container-fluid section-teste mt-5 mt-md-0" id="section-teste">
        <div class="main main-height-full">
            <div class="row main-height-full">
                <div class="col-md-5 main-height-full d-flex justify-content-between flex-column">


                    <h2 class="title-component-40 title-component-22 text-white">Compartilhe  <span> e ganhe desconto
                   

                    <div class="section-teste-contents share-buttom">

 <a href="https://api.whatsapp.com/send?text=https://netjapa.com"><img src="/photos/whatsapp.svg"></a>


                    
                      
                    </div>
                 <div class="fb-share-button" data-href="https://netjapa.com" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fnetjapa.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Compartilhar</a></div>
                                      
                                    </div>
            </div>
        </div>
    </section>