<section class="container-fluid section-teste mt-5 mt-md-0" id="section-teste">
        <div class="main main-height-full">
            <div class="row main-height-full">
                <div class="col-md-5 main-height-full d-flex justify-content-between flex-column">


                    <h2 class="title-component-40 title-component-22 text-white">Compartilhe  <span> e ganhe  30% de desconto
                    <div class="section-teste-contents">

 <a href="https://api.whatsapp.com/send?text=https://netjapa.com"><i class="fa fa-share-alt fa-2x"></i> Compartilhe</a>


                        <div class="section-teste-content">
                     


 



                        </div>
                      
                    </div>
                                      
                                    </div>
            </div>
        </div>
    </section>