<section class="section-servico-1 padding-top-40 padding-bottom-90" style="background-image:url('')">
            <div class="container-fluid limit">
                <div class="row">
                    <div class="col-lg-5 d-flex justify-content-center align-items-center">
                                                    <img src="/assets/img/shop.png" alt="">
                                            </div>
                    <div class="col-lg-7 d-flex flex-column justify-content-center">
                        <h1><p>Por que ter uma loja virtual?</p>
</h1>

                        <span class="texto">
<ul>
<li>Possibilidade de alcançar mais clientes: como a sua loja vai vender os produtos na web, ela não fica delimitada por um espaço físico. Na internet, é possível atrair diferentes públicos, não só aquele que costuma passar em frente a se negócio;
</li>

<li>Vendas 24h: não há necessidade de estabelecer horário de funcionamento, pois sua loja virtual funciona o dia inteiro, todos os dias. </li>


<li>É mais confortável para os clientes: os clientes podem ficar horas na sua loja virtual, consultarem o que quiserem, há maior flexibilidade no horário de compra, etc.</li>

<li> Vendas sem limitações de loja física: uma loja física te limita geograficamente. Ou seja, com um comércio online é possível chegar em um público que não chegaria se tivesse um negócio físico;</li>


<li>Os custos são mais baixos que uma loja física: o custo para implementar e a manutenção acabam sendo mais baixos do que de uma loja física. Além disso, não há necessidade de contratar vendedores, o que diminui os gastos;</li>
</ul>
</span>

                        <div class="row container-tenho-interesse xs-horizontal-center">
                            <!-- <a href="" class="btn-vox-primary">Saiba mais</a> -->
                            <a  href="https://wa.me/5524993017256/?text=Olá, visitei o netjapa e gostaria de saber mais sobre a criação de loja virtual" class="to-footer margin-left-20 btn-vox-secondary xs-margin-0">Tenho interesse</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

