





<section class="section-servico-1 padding-top-40 padding-bottom-90" style="background-image:url('')">
            <div class="container-fluid limit">
                <div class="row">
                    <div class="col-lg-5 d-flex justify-content-center align-items-center">
                                                 <img src="/assets/img/site.png" alt="">
                                            </div>
                    <div class="col-lg-7 d-flex flex-column justify-content-center">
                        <h1><p>Por que ter uma loja virtual?</p>
</h1>

                        <span class="texto">
                     <ul>
                        

   <li>Para ser encontrada no Google</li>

   <li>Para ganhar autoridade no mercado</li>

   <li>Para expandir seus negócios</li>

   <li>Para se relacionar com sua audiência</li>

   <li>Para fazer mais vendas</li>


</ul>
</span>

                        <div class="row container-tenho-interesse xs-horizontal-center">
                            <!-- <a href="" class="btn-vox-primary">Saiba mais</a> -->
                            <a  href="https://wa.me/5524993017256/?text=Olá, visitei o netjapa e gostaria de saber mais sobre a criação de sites" class="to-footer margin-left-20 btn-vox-secondary xs-margin-0">Tenho interesse</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


