<!DOCTYPE html>
<html lang="{{ site.lang | default: "pt-br" }}">
    {% seo %}
  {% include head.html %}
  <body >
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v11.0&appId=659358070916910&autoLogAppEvents=1" nonce="uKoDxoR3"></script>
   
      {% include header.html %}
      
      <main >
       
    {{ content}}
  
      </main>
      {% include footer.html %}
      {% include script.html %}
   
  </body>
</html>


